/* https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fweb-vitals-starter-templates.pages.dev&profile=css3svg&usermedium=all&warning=2&vextwarning=&lang=en */

/*****************************************/
/* Custom CSS */
/*****************************************/

/* main */
main h3 {
  margin-top: 3em;
}

/* footer */
footer {
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  padding: 1em;
}
footer p {
  font-size: 1em;
  padding: 1em;
}
